.nav {
  background-color: #f7f7f7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 24px;
}

.navlinks {
  display: flex;
  justify-content: center;
  flex: 1;
}
.logo {
  margin-right: auto;
}

.link {
  font-size: 24px;
  color: #101828;
  margin-right: 40px;
}

.active {
  color: #e44848;
}

.link:hover {
  color: #101828;
}
